@import url('https://fonts.googleapis.com/css?family=Bangers|Carter+One|Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto|Ubuntu');
body{
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
}
.container {
    overflow: hidden;
    width: 100%;
    height: 48px;
    background-color: #945D60;
    font-family: Arial;
    padding-left: 25%;
    padding-right: 25%;
    position: fixed;
    z-index: 20;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: auto;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover,.dropdown:hover, .dropbtn {
    background-color: #4f4f4f;
}
.container a:focus{
    background-color: #3C3C3C;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-content a {
    float: none;
    color: #945D60;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
.show{
    display: block;
}
.container .icon,.container .closebtn{
    display: none;
}
/*.dropdown:hover .dropdown-content {
    display: block;
}*/
@media screen and (max-width: 320px) {
  .responsive-content a:not(:first-child) {display: none;}
  .container .dropdown {
    display: none;
  }
  .container a.icon {
    float: right;
    display: block;
    padding-top:7px;
    /*width:24px;
    height: 48px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='32' viewBox='0 0 24 32' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 2px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='11' x2='24' y2='11' /%3E%3Cline x1='0' y1='21' x2='24' y2='21' /%3E%3Cline x1='0' y1='16' x2='24' y2='16' /%3E%3C/svg%3E");*/
  }
  .container.responsive{
    height:100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #945D60;
    background-color: rgba(148,93,96, 1.0);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 20;
    overflow-y: scroll;
  }
  .container.responsive a.icon{
    display: none; 
  }

  .container.responsive a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    float: none;
  }
  .container.responsive .dropdown{
    display:block;
    text-align: center;
    float: none;
  }
  .container.responsive .dropdown-content{
    position: relative;
    background-color: rgba(148,93,96,1.0);
    z-index: 0;
    box-shadow: none;
  }
  .container.responsive .dropdown-content a{
    text-align: center;
  }
  .container.responsive .dropdown-content a:hover{
    background-color: #4f4f4f;
  }
  .dropdown .dropbtn{
    font-size: 20px;
  }
  .container.responsive .responsive-content{
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .container.responsive a:hover, .container.responsive a:focus {
    color: #f1f1f1;
}

.container.responsive .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
}
.container{
    padding-left: 2%;
    padding-right: 3%;
  }
}