.middle{
    width: 60%;
    height: 700px;
    float: left;
}
.dropdown2 {
    float: left;
    overflow-y: hidden;
    width:100%;
    margin-top: 7px;
    display: none;
}

.dropdown2 .dropbtn2 {
    font-size: 25px;    
    border: none;
    outline: none;
    color: #AF473C;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    background-color: inherit;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content2 button {
    float: none;
    color:  #AF473C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: inherit;
    width: 100%;
    height: 30px;
    border:none;
    outline: none;
    text-align: left;
    cursor: pointer;
    /*transition: 0.3s;*/
    margin-bottom: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.dropdown-content2 button:hover {
    background-color: #ddd;
}
.show{
    display: block;
}
.header{
	width: 100%;
	height: 300px;
	background: url(http://www.whatshelikes.in/wp-content/uploads/2014/06/indian-naan-roti-type.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	overflow: hidden;
	text-align: center;
	color: #3C3C3C;
    /*font-family: 'UnifrakturCook';
    font-size: 100px;*/
}
h2{
	font-family: 'Carter One', cursive;
    font-size: 90px;
}
 /* Style the tab */
div.tab {
	margin-top: 3px;
    float: left;
    background-color: #9e6d6f;
    width: 20%;
    height: 672px;
    padding-top: 25px;
    padding-left: 25px;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: white;
    width: 85%;
    height: 30px;
    border:none;
    outline: none;
    text-align: left;
    cursor: pointer;
    /*transition: 0.3s;*/
    margin-bottom: 5px;
    font-family: 'Ubuntu', sans-serif;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #4f4f4f;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #3C3C3C;
    border-radius: 5px;
}

/* Style the tab content */
.tabcontent {
	margin-top: 3px;
	overflow: auto;
    overflow-y: hidden;
	margin-top: 0;
    /*float: left;*/
    /*border: 1px solid #ccc;*/
    width: 100%;
    height: 300px;
}
.hide
{
	display: none;
}
h3{
    font-family: 'Francois One', sans-serif;
    font-weight: bold;
	color: white;
}
.items{
    margin-top: 3px;
    margin-left: 5px;
	max-width:100%;
	height: 200px;	
	overflow:hidden;
    overflow-x: hidden;
    position: relative;
}
.image{
    float: left;
    margin: 2px;
    height: 95%;
    width: 25%;
    border: 1px solid black;
}
#font{
    margin-left: 10px;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 3px;
    font-weight: bold;
    /*margin-top: 15px;*/
    font-family: 'Francois One', sans-serif;
    color: #AF473C;
}
/*.arrow{
    display: hide;
}*/
.content{
    float:right;
    height: 100%;
    width:74%;
}
h4{
    margin-left: 10px;
    font-size: 27px;
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: bold;
    /*margin-top: 15px;*/
    font-family: 'Francois One', sans-serif;
    color: #AF473C;
}
h5{
    padding-left: 5px;
    padding-top: 10px;
    display: inline;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #626E60;
}
.top{
    height: 20%;
    width: 100%;
}
.heading{
    float: left;
    width:55%;
}
.cost{
    float: right;
    width: 25%;
}
.deliveryCost{
    padding-top: 20px;
    float: left;
    width: 55%;
    height: 35%;
    position: relative;
    top:50px;
}
.btn{
    float: right;
    height: 8%;
    position: relative;
    top: 65px;
    right: 35px;
    background-color: #AF473C;
    border:none;
    border-radius: 12px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover{
    background-color: #9d3f36;
}
.btn:after {
    content: "";
    background: #AF473C;
    display: block;
    position: absolute;
    padding-top: 55%;
    padding-left: 120%;
    margin-left: -32px!important;
    margin-top: -40%;
    margin-bottom:;
    opacity: 0;
    transition: all 0.8s;
}
.btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.ordering{
    float: right;
    height:700px;
    width: 17%;
    border-left: .7px solid #ccc;
}
hr{
    border-top: .8px;
    margin-left: 10px;
}
.pagebody
{
    width: 100%;
    height:700px;
}
.footer
{
    width: 100%;
    height: 200px;
    background-color: #3C3C3C;
    margin-top: 10px;
}
 p{
    padding:10px 0px 0px 10px;
  }
@media screen and (max-width: 320px) {
  .middle{
    width: 100%;
}
  h2{
    font-size: 65px;
  }
  h4{
    display: none;
  }
  .tab
  {
    display: none;
  }
  .ordering{
    display: none;
  }
  .tabcontent{
    width:100%;
  }
  .image{
    margin-left:5px;
    width: 95%;
    position: absolute;
    top:0;
    left: 0;
  }
  .dropdown2{
    display: block;
  }
  div.content{
    width: 95%;
    height:30%;
    float: none;
    margin-left: 6px;
    margin-top:132px;
    /*transition: all 5s;*/
   /* border: 1px solid black;*/
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 10;
    position: absolute;
    top:0;
    left: 0;
}
.content.maxcontent{
    margin-top: 0px !important;
    height: 100% !important;
    background-color: rgba(255, 255, 255, 0.6);
}
.content.maxcontent .details,.content.maxcontent .btn,.content.maxcontent .deliveryCost{
    display: block;
}
.btn,.deliveryCost{
    display: none;
}
  /*div.heading{
    /*border: 1px solid black;
    float: none;
    height: 100%;
    width: 45%;
  }*/
  .name{
    padding-left: 10px;
    padding-top: 5px;
    font-size: 35px;
    position: relative;
    top:10px;
    left:0;
  }
  .rate{
    position: relative;
    top:20px;
    left:10px;
    font-size: 25px;
  }
 .btn{
    height: 7%;
    position: relative;
    top: 30px;
    right: 10px;
  }
  .deliveryCost{
    top:-5px;
  }
  .details{
    display: none;
  }
  }
}
