.feedback
{
	width: 100%;
	height: 400px;
    padding: 20px;
    margin-top: 20px;
	/*border: 1px solid black;*/
}
label{
	font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #626E60;
}
.review_section{
	width: 100%;
	height: auto;
	margin: 20px;
}
.reviews{
	width: 97%;
	height: 150px;
	display: flex;
	position: relative;
	margin-bottom: 20px;
}
.info{
	flex-grow: 1;
	height: 100%;
	margin-right: 20px;
	box-shadow: 0 0 5px 5px rgba(211,211,211,0.4);
}
.cont{
	flex-grow: 3;
	height: 100%;
	box-shadow: 0 0 5px 5px rgba(211,211,211,0.4);
}
input[type=text]{
    width: 97%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 5px 5px rgba(211,211,211,0.4);
    box-sizing: border-box;
    resize: vertical;
}
textarea{
	width: 97%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
    padding: 10px 10px;
    height: 200px;
    box-shadow: 0 0 5px 5px rgba(211,211,211,0.4);
}
.btn{
	position: relative;
	top:10px!important;
	height: 4%!important;
	padding-bottom: 30px; 
}
hr{
	position: relative;
	top:60px;
	left:20px;
}
@media (min-width: 768px) and (max-width: 1024px)
{
	input[type=text]
	{
		width: 97%;
	}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
{
	input[type=text]
	{
		width: 97%;
	}
}
@media (max-width: 480px)
{
	input[type=text]
	{
		width: 93%;
	}s
	textarea{
		width: 93%;
	}
	.feedback{
		padding: 10px;
	}
	.btn{
		right:0px!important;
		width: 80%;
		left:15px;
		display: inline-block;
		padding: -10px 10px;
		padding-bottom: -10px!important;
		float: none!important;
	}
	hr{
		top:0px;
		left:-15px;
	}
	h4{
		margin-top: 5px!important;
		text-align: center;
		display: block;
	}
}
