{%extends 'base.html'%}
{% load app_filters%}
{% block extra_head %}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css'%}"/>
{% endblock %}
{%block head%}
Menu
{%endblock%}
{% block extra_content %}
    <script type="text/javascript" src="{% static 'js/menu.js'%}"></script>
{% endblock %}
{%block content%}
 <div class="header">
      <h2>INDIAN BREADS</h2>
 </div>
 <div class="pagebody">
    <div class="tab">
      <h3>MENU</h3>
      {%for type in variety%}
      <button class="tablinks" onclick="openMenu(event, 'item{{type.0}}')">{{type.1}}</button>
      {% endfor %}
      <!--<button class="tablinks" onclick="openMenu(event, 'item2')">{% block item2 %}{% endblock item2 %}</button>
      <button class="tablinks" onclick="openMenu(event, 'item3')">{% block item3 %}{% endblock item3 %}</button>
      <button class="tablinks" onclick="openMenu(event, 'item4')">{% block item4 %}{% endblock item4 %}</button>!-->
    </div>
    <div class="middle">
      <div class="dropdown2">
         <button class="dropbtn2" onclick='$("#myDropdown2").toggleClass("show")'>ROTIS  &#9660;</button>
          <div id="myDropdown2" class="dropdown-content2">
            {% for type in variety %}
            <button class="tablinks" onclick="openMenu(event, 'item{{type.0}}')">{{type.1}}</button>
            {% endfor %}
            <!--<button class="tablinks" onclick="openMenu(event, 'item2')">{% block s_item2 %}{% endblock s_item2 %}</button>
            <button class="tablinks" onclick="openMenu(event, 'item3')">{% block s_item3 %}{% endblock s_item3 %}</button>
            <button class="tablinks" onclick="openMenu(event, 'item4')">{% block s_item4 %}{% endblock s_item4 %}</button>!-->
          </div>
      </div>
      {%for type in variety%}
      <div id="item{{type.0}}" class="tabcontent">
       <h4>{{type.1}}</h4>
       <hr>
       {%for item in lists|return_item:type.0%}
       <div class="items">
        <div class="image">
        	<img src="roti-canai.jpg">
        </div>
        <div class="content" id={{item.0}} onclick='$("#{{item.0}}").toggleClass("maxcontent")' id="cont">
          <div class="top">
            <div class="heading">
              <h5 class="name">{{item.1}}</h5>
            </div>
            <div class="cost">
              <h5 class="rate">{{item.2}}</h5>
            </div>
          </div>
          <div class="details">
            <p>{% block description %}{% endblock description %}</p>
          </div>
          <div class="deliveryCost">
            <h5>Delivery Cost:{% block del_cost %}{% endblock del_cost %}</h5>
          </div>
          <a href="#" class="btn" onclick="order_now({{item.0}})">ORDER</a>
        </div>
       </div>
       <hr>
       {% endfor %}
      </div>
      {% endfor %}
    </div>
    <div class="ordering">
    <p id="font">YOUR ORDER</p>
    <hr>
    <div id="orders">
    </div>
    </div>
    <div id="item2" class="tabcontent hide">
    </div>
    <div id="item3" class="tabcontent hide">
      <h3>kulcha</h3>
      <p>Tokyo is the capital of Japan.</p>
    </div>
    <div id="item4" class="tabcontent hide">
      <h3>Paratha</h3>
      <p>Tokyo is the capital of Japan.</p>
    </div>
    </div>
{%endblock%}